@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
footer{
    background:linear-gradient(90deg, rgba(243,229,245,1) 48%, rgba(106,27,154,1) 91%) ;
}
.footer {
position: relative;
width: 100%;
background-color: rgb(155, 45, 126);
padding: 20px 50px;
display: flex;
justify-content: center;
border-radius: 70px 70px 0 0 ;
align-items: center;
flex-direction: column;
transition: 1.5s;

}

.footer:hover{
    background-color:rgb(63, 6, 48); 
    border-radius: 200px 200px 0 0 ;

}

.social-icon,
.menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
    list-style: none;
}

.social-icon__link {
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 1s;
}

.social-icon__link:hover{
    transform: translateY(-10px);
}

.menu__link{
    font-size: 1.2rem;
    color: #ffffff;
    margin: 0 10px;
    display: inline-block;
    transition: 1s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
}

.menu__link:hover{
    opacity: 2;
}


.footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
    transition: 1s;
}

