@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

*{
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    line-height: 1;
    padding: 0;
    margin: 0;
}

.containar{
    background:linear-gradient(90deg, rgba(243,229,245,1) 48%, rgba(106,27,154,1) 91%) ;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
.box {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 45px;
    width: 375px;
    box-shadow: 10px 10px 10px 1px rgba(106,27,154,1);
    transition:  1.5s ease,  1.5s ;
}

.box:hover {
    border-radius: 40px;
}


.box h1{
    font-size: 35px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 45px;

}

.box form label{

display: block;
font-size: 12px;
margin-bottom: 5px;


}

.box form div{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #4e4b4b;
    
}

.box form div.box:hover{
    border-bottom: #490a4b;
}

.box form div:first-of-type{
    margin-bottom: 35px;
}

.box form div input{

font-size: 15px;
outline: none;
border: none;
padding: 10px;
flex: 1;

}

.box form div input::placeholder{
    opacity: 1;
    color: #767474;
    font-size: 15;

}

.box a{

color: black;
text-decoration: none;
font-size: 15px;
display: block;


}


.box a:hover{

color: #454040;


}
.box form .forgot{
    margin-top: 15px;
    float: right;

}

.log{
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #cb7ebc;
    color: rgb(0, 0, 0);
    border: none;
    width: 100px;
    padding: 12px;
    margin-top: 45px;
    border-radius: 150px;




}
.log:hover{

    background-color: #8b467d;
    cursor: pointer;


}

