*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
/* **************Header************** */
header{
    display: flex;
    justify-content: space-between;
    padding: 20px 70px;
    align-items: center;
    background:linear-gradient(90deg, rgba(243,229,245,1) 48%, rgba(106,27,154,1) 91%) ;
}
header .nav-img{
    width: 200px;
}
.nav-img img{
    max-width: 100%;
    max-height: 100%;
}
.nav-bar {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
}
.nav-bar a {
    text-decoration: none;
    color:#fff;
    font-weight: bold;
}
.nav-bar a:hover {
    color: #2E2E2E;
    transition: .1s ease-in;

}
.nav-bar a.active{
    color:#2E2E2E;
}

/* *********************WORK*********** */
.work{
    padding:70px 70px;
}
.work-heading {
    padding-bottom: 40px;
    width: 700px;
    margin: 0 auto;
    text-align: center;
}
.work-heading h2 {
    color: #6A1B9A;
    font-size: 35px;
    margin-bottom: 10px;
}
.work-heading p {
    color:#484646
}
.work-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.work-item {
    text-align: center;
    margin-bottom: 20px;
    cursor: pointer;
}
.work-item h4 {
    margin-bottom: 15px;
}
.work-item .work-img {
    width: 400px;
    height: 250px;
    background-color: #000;
    display: flex;
    align-items: center;
    border: 5px solid #000;
}
.work-item .work-img img {
    max-width:100%;
}
.work-button{
    text-decoration: none;
    color: #fff;
    background-color: #6a1b9a;
    padding: 10px 20px;
    margin-left: auto;
    border-radius: 5px;
    display: block;
    width: 150px;
    font-size: 18px;
    text-align: center;
    font-weight: 600;
    margin: 20px auto 0 auto;
}
.work-button:hover{
    background-color: #992ddc;
    transition: .2s ease-in-out;
}